/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

/* .container {
  width: 35%;
  margin: auto;
} */

.isSelected {
  background-color: lightblue;
}

.correct {
  background-color: green;
}
